---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign ai_entries = site.ai %}
{% assign robot_entries = site.robot %}
{% assign career_entries = site.career %}
{% assign combined_entries = posts | concat: ai_entries | concat: robot_entries | concat: career_entries %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=combined_entries type=entries_layout sort_by="date" sort_order="reverse" %}
</div>

{% include paginator.html %}
